body {
    margin: 0;
    border: 0;
    background-color: antiquewhite;
}

.borda {
    background-color: azure;
    border: 1px solid black;
    border-radius: 5px;
    margin: 100px;
    width: 350px;
    height: 300px;
    text-align: center;
}

#nome {
    border: 1px solid black;
    border-radius: 2px;
    background-color: azure;
    margin: 5px;
    height: 35px;
    width: 300px;
}

#email {
    border: 1px solid black;
    border-radius: 2px;
    background-color: azure;
    margin: 5px;
    height: 35px;
    width: 300px;
}

#senha {
    border: 1px solid black;
    border-radius: 2px;
    background-color: azure;
    margin: 5px;
    height: 35px;
    width: 300px;
}

.cadastrar {
    background-color: green;
    border-radius: 2px;
    border: 1px solid green;
    height: 30px;
    width: 300px;
    margin: 10px;
    color: white;
    font-weight: bold;
    font-size: 15px;
}


/* Login */

.borda2 {
    background-color: azure;
    border: 1px solid black;
    border-radius: 5px;
    margin: 100px;
    width: 350px;
    text-align: center;
}

.borda1 {
    background-color: azure;
    border: 1px solid black;
    border-radius: 5px;
    margin: 100px;
    width: 350px;
    text-align: center;
}

.login {
    background-color: green;
    border-radius: 2px;
    border: 1px solid green;
    height: 35px;
    width: 300px;
    margin: 10px;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

#usuario {
    border: 1px solid black;
    border-radius: 2px;
    background-color: azure;
    margin: 5px;
    height: 35px;
    width: 300px;
}

#senhaUsuario {
    border: 1px solid black;
    border-radius: 2px;
    background-color: azure;
    margin: 5px;
    height: 35px;
    width: 300px;
}

.foto {
    height: 200px;
    width: 200px;
    border-radius: 100px;
}

h1 {
    font-size: 20px;
}